<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
  </head>
  <body>
    <form action="/book/" method="POST">
      <label for="title">Enter Book Title</label>
      <input id="title" type="text" />
      <label for="author">Enter Author Name</label>
      <input id="author" type="text" />
      <label for="gener">Enter Gener</label>
      <input id="gener" type="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
